flows_raspi.json
[{"id":"c76d3e98.960d8","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"1ad0a3e9.0b260c","type":"inject","z":"c76d3e98.960d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":440,"wires":[["811fa6be.8bfc68"]]},{"id":"34e5c432.82002c","type":"debug","z":"c76d3e98.960d8","name":"error.msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":960,"y":480,"wires":[]},{"id":"811fa6be.8bfc68","type":"exec","z":"c76d3e98.960d8","command":"ssh raspizero raspistill -o photo.jpg","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"camera","x":280,"y":360,"wires":[["ed6ef626.2a6fa8"],["34e5c432.82002c"],[]]},{"id":"c590e320.2ebfa","type":"debug","z":"c76d3e98.960d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1010,"y":40,"wires":[]},{"id":"ed6ef626.2a6fa8","type":"delay","z":"c76d3e98.960d8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":320,"wires":[["2b1f052c.62e25a"]]},{"id":"22835567.0c72aa","type":"catch","z":"c76d3e98.960d8","name":"","scope":null,"x":800,"y":500,"wires":[["34e5c432.82002c"]]},{"id":"8a510055.20038","type":"http in","z":"c76d3e98.960d8","name":"","url":"/webhook","method":"post","upload":false,"swaggerDoc":"","x":100,"y":100,"wires":[["85db5a75.49e7f8","811fa6be.8bfc68"]]},{"id":"72247d07.356574","type":"http response","z":"c76d3e98.960d8","name":"","statusCode":"200","headers":{},"x":520,"y":40,"wires":[]},{"id":"85db5a75.49e7f8","type":"function","z":"c76d3e98.960d8","name":"fulfillmentText","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\nnewMsg.payload = { fulfillmentText: \"3, 2, 1\" };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":300,"y":40,"wires":[["72247d07.356574","c590e320.2ebfa"]]},{"id":"b3bc1e9c.76ab6","type":"http request","z":"c76d3e98.960d8","name":"slack","method":"POST","ret":"obj","url":"https://slack.com/api/files.upload","tls":"","x":1030,"y":100,"wires":[[]]},{"id":"2b1f052c.62e25a","type":"exec","z":"c76d3e98.960d8","command":"cd /home/pi/Pictures/; scp raspizero:/home/pi/photo.jpg `date \"+%Y%m%d%H%M%S\"`.jpg","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"scp","x":590,"y":280,"wires":[["abe5cc76.6964b"],["34e5c432.82002c"],[]]},{"id":"2d69c858.767148","type":"comment","z":"c76d3e98.960d8","name":"","info":"","x":320,"y":160,"wires":[]},{"id":"df121b23.12de28","type":"inject","z":"c76d3e98.960d8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":260,"wires":[["2b1f052c.62e25a"]]},{"id":"379ffc38.f81264","type":"inject","z":"c76d3e98.960d8","name":"cron","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/15 8 * * *","once":false,"onceDelay":0.1,"x":90,"y":200,"wires":[["811fa6be.8bfc68"]]},{"id":"abe5cc76.6964b","type":"exec","z":"c76d3e98.960d8","command":"rclone copy --max-age 10m --no-traverse /home/pi/Pictures/ drive:raspi","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"upload","x":710,"y":220,"wires":[["c2321efd.b5a0b"],["34e5c432.82002c"],[]]},{"id":"7fed6d01.0294b4","type":"inject","z":"c76d3e98.960d8","name":"cron","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/15 19-20 * * *","once":false,"onceDelay":0.1,"x":90,"y":240,"wires":[["811fa6be.8bfc68"]]},{"id":"4d08cb57.9e4db4","type":"inject","z":"c76d3e98.960d8","name":"cron","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/15 4-5 * * *","once":false,"onceDelay":0.1,"x":90,"y":160,"wires":[[]]},{"id":"c2321efd.b5a0b","type":"exec","z":"c76d3e98.960d8","command":"rm /home/pi/Pictures/*.jpg","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"clean","x":850,"y":180,"wires":[["c590e320.2ebfa"],[],[]]}]